<ion-view title="全部危险货物">
  <ion-nav-buttons side="right">
    <a class="button button-clear"  style="font-size: 11px;">{{username}}</a>
    <a class="button"  ui-sref="homepage">回到首页</a>
  </ion-nav-buttons>
  <ion-content>
   <!--用于搜查什么？？？？暂时用于搜索货物-->
    <div class="list list-borderless">
      <div class="item-input-inset">
        <form class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input style="width: 100%" type="search" placeholder="请输入货物名称" ng-model="input.content">
        </form>
        <button class="button button-clear button-positive" ng-click="search()">确认</button>
      </div>
    </div>
    <div class="list list-borderless">
      <!--<div class="row" style="flex-flow: row wrap">&lt;!&ndash;//row wrap用于自动换行&ndash;&gt;-->
       <div class="item row" style="flex-flow: row wrap">
        <div class="col col-50" ng-repeat="index in data" style="text-align: center" >
          <a class="button button-block button-positive" ng-click="goToDetail(index.ChineseName)">{{index.ChineseName}}</a>
        </div>
       </div>
      <!--</div>-->
    </div>
  </ion-content>
  <!--<div class="tabs tabs-icon-top tabs-positive">
    <a class="tab-item">
      <i class="icon ion-ios-search "></i>
      搜索
    </a>
    <a class="tab-item" ui-sref="homepage">
      <i class="icon ion-ios-person-outline"></i>
      首页
    </a>
    <a class="tab-item" ui-sref="dangerousgoods">
      <i class="icon ion-android-arrow-back"></i>
      返回
    </a>
  </div>-->
</ion-view>
