<ion-view title={{goodName}}>
  <ion-nav-buttons side="right">
    <a class="button"  ui-sref="homepage">回到首页</a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list list-borderless">
      <div class="item">
        <a class="button button-full button-positive">船舶适载要求</a>
      </div>
    </div>
    <div class="list card">
      <div class="item">
        <a class="button button-block button-positive" ng-click="goToInfrastructure()">构造要求</a>
      </div>
      <div class="item">
        <a class="button button-block button-positive" ng-click="goToPropertyEquipment()">设备要求</a>
      </div>
      <div class="item">
        <a class="button button-block button-positive" ng-click="goToPropertySpecial()">特殊要求</a>
      </div>
    </div>
  </ion-content>

</ion-view>
