<ion-view title="分类搜索">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">名称</span>
        <input type="text" ng-model="$parent.good_name"/>
      </label>
      <label class="item item-input">
        <span class="input-label">UN编号</span>
        <input type="text" ng-model="$parent.un_num"/>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          码头泊位
        </div>
        <select ng-model="$parent.dork">
          <option value="blue">Blue</option>
          <option value="green">Green</option>
          <option value="red">Red</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          危险货物类别
        </div>
        <select ng-model="$parent.class">
          <option value="blue">Blue</option>
          <option value="green">Green</option>
          <option value="red">Red</option>
        </select>
      </label>
      <a class="button button-block button-positive" ng-click="search_good()">搜索</a>
    </div>
  </ion-content>
</ion-view>
