<ion-view title="分类搜索">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">名称</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">UN编号</span>
        <input type="text">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          码头泊位
        </div>
        <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          危险货物类别
        </div>
        <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>
      </label>
      <a class="button button-block button-positive">搜索</a>
    </div>
  </ion-content>
</ion-view>
