<ion-view title="危险货物数据库">

  <ion-content>
    <div class="list list-borderless">
      <div class="item">
        常见危险货物
      </div>
      <div class="item row" style="flex-flow: row wrap">
         <div class="col col-50">
           <a class="button button-block button-positive" ng-click="goToPropertyDetail('苯')">苯</a>
         </div>
        <div class="col col-50">
          <div class="button button-block button-positive" ng-click="goToPropertyDetail('航煤')">航煤</div>
        </div>
        <div class="col col-50">
          <div class="button button-block button-positive" ng-click="goToPropertyDetail('丙烯腈')">丙烯腈</div>
        </div>
        <div class="col col-50">
          <div class="button button-block button-positive" ng-click="goToPropertyDetail('苯乙烯')">苯乙烯</div>
        </div>
        <div class="col col-50">
          <div class="button button-block button-positive"  ng-click="goToPropertyDetail('盐酸')">盐酸</div>
        </div>
        <div class="col col-50">
          <div class="button button-block button-positive" ng-click="goToPropertyDetail('柴油')">柴油</div>
        </div>
        <div class="col col-50">
          <div class="button button-block button-positive" ui-sref="alldangerousgoods">更多...</div>
        </div>
        <div class="col col-50">
          <div class="button button-block button-positive" ui-sref="classificationSearch">分类搜索</div>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="tabs tabs-icon-top tabs-positive">
    <a class="tab-item" ui-sref="classificationSearch">
      <i class="icon ion-ios-search "></i>
      搜索
    </a>
    <a class="tab-item" ui-sref="homepage">
      <i class="icon ion-ios-person-outline"></i>
      首页
    </a>
    <a class="tab-item" ui-sref="homepage">
      <i class="icon ion-android-arrow-back"></i>
      返回
    </a>
  </div>
</ion-view>
