<ion-view title={{goodName}}>
  <ion-nav-buttons side="right">
    <a class="button button-clear"  style="font-size: 11px;">{{username}}</a>
    <a class="icon button button-positive iconfont icon-wxbzhuye"  ui-sref="homepage"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list list-borderless">
      <div class="item">
        <a class="button button-block button-positive" ng-click="goToPropertyList()">货物特性</a>
      </div>
      <div class="item">
        <a class="button button-block button-positive" ng-click="goToPropertyReuirement()">作业要求</a>
      </div>
      <div class="item">
        <a class="button button-block button-positive" ng-click="goToCargoList ()" ng-if="goodType!='油类'">船舶适载要求</a>
      </div>

     <!-- <div class="item">
        <a class="button button-block button-positive" ng-click="goToIBCIGC (goodName)">IBC/IGC要求</a>
      </div>
      <div class="item">
        <a class="button button-block button-positive" ng-click="goToOilFence(goodName)">围栏油/清污协议要求</a>
      </div>-->
    </div>
  </ion-content>

</ion-view>
