<ion-view title="搜索">
  <ion-nav-buttons side="right">
    <a class="button button-clear"  style="font-size: 11px;">{{username}}</a>
    <a class="button"  ui-sref="homepage">回到首页</a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list list-borderless">
      <div class="item-input-inset">
        <form class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input style="width: 100%" type="search" placeholder="请输入货物名称" ng-model="input.content">
        </form>
        <button class="button button-clear button-positive" ng-click="search()">确认</button>
      </div>
    </div>
   <!-- <div class="list list-borderless">
      <div class="row" style="flex-flow: row wrap">&lt;!&ndash;//row wrap用于自动换行&ndash;&gt;
        <div class="item col col-30" ng-repeat="index in searchResult" style="text-align: center" >
          <a class="button button-positive" ng-click="goToDetail(index)">{{index}}</a>
        </div>
      </div>
    </div>-->
  </ion-content>
</ion-view>
