<ion-view title={{goodName}}>
<!--
点击设备要求，根据该货物所属种类（基本信息中的“种类”），
若是油类，则详细信息页无内容，
若是化学品船，则进入的详细信息页显示： 电气设备-温度等级要求、电气设备-设备分类要求、电气设备-闪点要求、测量要求（IBC）、蒸气探测要求、防火要求、应急设备要求
若是液化气船，则进入的详细信息页显示： 气体探测要求、测量要求（IGC）
-->
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        设备要求
      </div>
      <label class="item ">
        电气设备-温度等级要求
        <span class="item-note"></span>
      </label>
      <label class="item ">
        电气设备-设备分类要求
        <span class="item-note"></span>
      </label>
      <label class="item ">
        电气设备-闪点要求
        <span class="item-note"></span>
      </label>
      <label class="item ">
        测量要求（IBC）
        <span class="item-note"></span>
      </label>
      <label class="item ">
        蒸气探测要求
        <span class="item-note"></span>
      </label>
      <label class="item ">
        防火要求
        <span class="item-note"></span>
      </label>
      <label class="item ">
        应急设备要求
        <span class="item-note"></span>
      </label>
      <label class="item ">
        气体探测要求
        <span class="item-note"></span>
      </label>
      <label class="item ">
        测量要求（IGC）
        <span class="item-note"></span>
      </label>
    </div>
  </ion-content>

</ion-view>
