<ion-view title={{goodName}}>
  <ion-nav-buttons side="right">
    <a class="button button-clear"  style="font-size: 11px;">{{username}}</a>
    <a class="icon button button-positive iconfont icon-wxbzhuye"  ui-sref="homepage"></a>
  </ion-nav-buttons>
<!--
点击设备要求，根据该货物所属种类（基本信息中的“种类”），
若是油类，则详细信息页无内容，
若是化学品船，则进入的详细信息页显示： 电气设备-温度等级要求、电气设备-设备分类要求、电气设备-闪点要求、测量要求（IBC）、蒸气探测要求、防火要求、应急设备要求
若是液化气船，则进入的详细信息页显示： 气体探测要求、测量要求（IGC）
-->
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        设备要求
      </div>
      <label class="item " ng-if="detailInfo.basicInfo.classification=='化学品'">
        电气设备-温度等级要求
        <div class="item-note item-text-wrap">{{detailInfo.EquipmentRequest.Chemical.I1}}</div>
      </label>
      <label class="item" ng-if="detailInfo.basicInfo.classification=='化学品'">
        电气设备-设备分类要求
        <div class="item-note item-text-wrap">{{detailInfo.EquipmentRequest.Chemical.I2}}</div>
      </label>
      <label class="item" ng-if="detailInfo.basicInfo.classification=='化学品'">
        电气设备-闪点要求
        <div class="item-note item-text-wrap">{{detailInfo.EquipmentRequest.Chemical.I3}}</div>
      </label>
      <label class="item" ng-if="detailInfo.basicInfo.classification=='化学品'">
        测量要求（IBC）
        <div class="item-note item-text-wrap">{{detailInfo.EquipmentRequest.Chemical.IBCMeasurement}}</div>
      </label>
      <label class="item" ng-if="detailInfo.basicInfo.classification=='化学品'">
        蒸气探测要求
        <div class="item-note item-text-wrap">{{detailInfo.EquipmentRequest.Chemical.steamDetection}}</div>
      </label>
      <label class="item " ng-if="detailInfo.basicInfo.classification=='化学品'">
        防火要求
        <div class="item-note item-text-wrap">{{detailInfo.EquipmentRequest.Chemical.fireproofing}}</div>
      </label>
      <label class="item" ng-if="detailInfo.basicInfo.classification=='化学品'">
        应急设备要求
        <div class="item-note item-text-wrap">{{detailInfo.EquipmentRequest.Chemical.emergencyEquipment}}</div>
      </label>
      <label class="item" ng-if="detailInfo.basicInfo.classification=='液化气体'">
        气体探测要求
        <div class="item-note item-text-wrap">{{detailInfo.EquipmentRequest.Liquidgas.gasDetection}}</div>
      </label>
      <label class="item" ng-if="detailInfo.basicInfo.classification=='液化气体'">
        测量要求（IGC）
        <div class="item-note item-text-wrap">{{detailInfo.EquipmentRequest.Liquidgas.IGCMeasurement}}</div>
      </label>
    </div>
  </ion-content>

</ion-view>
