<ion-view title={{goodName}}>
  <ion-nav-buttons side="right">
    <a class="button button-clear"  style="font-size: 11px;">{{username}}</a>
    <a class="icon button button-positive iconfont icon-wxbzhuye"  ui-sref="homepage"></a>
  </ion-nav-buttons>
  <ion-content>
    <div style="font-family: 微软雅黑;text-align: center;margin-top: 20px;font-size: 18px;">
      <p>货物特性</p>
    </div>
    <!--  <div class="item item-divider" style="text-align: center;color: #4d4d4d">
        <a  style="text-align: center;color: #4d4d4d">货物特性</a>
      </div>-->
    <!--   <div class="item">
            <a class="button button-block button-positive" ng-click="goToPropertyBasicInfo()">基本信息</a>
          </div>-->
    <div class="list card" ng-click="goToPropertyBasicInfo()">
      <a class="item item-avatar item-icon-right" >
        <img src="./templates/imgs/basicinfo.PNG">
        <p style="font-size: 18px;margin-top: 7px;">基本信息</p>
        <i style="color: #9e9e9e" class="icon ion-chevron-right"></i>
      </a>
    </div>
    <div class="list card" ng-click="goToPropertyChemistry()">
      <a class="item item-avatar item-icon-right" >
        <img src="./templates/imgs/chemistry.PNG">
        <p style="font-size: 18px;margin-top: 7px;">理化特性</p>
        <i style="color: #9e9e9e" class="icon ion-chevron-right"></i>
      </a>
    </div>
    <!--<div class="list card">
      <div class="item">
        <a class="button button-block button-positive" ng-click="goToPropertyChemistry()">理化特性</a>
      </div>
    </div>-->
  </ion-content>

</ion-view>
