<ion-view title={{goodName}}>
<!--基本信息页面：英文名EnglishName、别名vulgo、种类classification、联合国编号UNnum、CAS编号CASNum、污染类别(有毒液体物质)、持久性（油类）、危害性（IBC）、分子式-->
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        货物特性
      </div>
      <label class="item item-text-wrap">
        英文名
        <span class="item-note">{{detailInfo.EnglishName}}</span>
      </label>
      <label class="item item-text-wrap">
        别名
        <span class="item-note">{{detailInfo.vulgo}}</span>
      </label>
      <label class="item item-text-wrap">
        种类
        <span class="item-note">{{detailInfo.classification}}</span>
      </label>
      <label class="item item-text-wrap">
        联合国编号
        <span class="item-note">{{detailInfo.property.Unnum}}</span>
      </label>
      <label class="item item-text-wrap">
        CAS编号
        <span class="item-note">{{detailInfo.property.CASNum}}</span>
      </label>
      <label class="item item-text-wrap">
        污染类别(有毒液体物质)
        <span class="item-note">{{detailInfo.XYZ}}</span>
      </label>
      <label class="item item-text-wrap">
        持久性（油类）
        <span class="item-note">{{detailInfo.persistance}}</span>
      </label>
      <label class="item item-text-wrap">
        危害性（IBC）
        <span class="item-note">{{detailInfo.Harmfulness}}</span>
      </label>
      <label class="item item-text-wrap">
        分子式
        <span class="item-note">{{detailInfo.formula}}</span>
      </label>
    </div>
  </ion-content>

</ion-view>
