<ion-view title={{goodName}}>
  <ion-nav-buttons side="right">
    <a class="button button-clear"  style="font-size: 11px;">{{username}}</a>
    <a class="icon button button-positive iconfont icon-wxbzhuye"  ui-sref="homepage"></a>
  </ion-nav-buttons>
<!--围油栏、船舶污染清除协议（1万总吨以下）-->
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        货物特性
      </div>
      <label class="item item-text-wrap">
        围油栏
        <span class="item-note">{{detailInfo.oilfence}}</span>
      </label>
      <label class="item item-text-wrap">
        船舶污染清除协议（1万总吨以下）
        <span class="item-note">{{detailInfo.emergencyStandby}}</span>
      </label>

    </div>
  </ion-content>

</ion-view>
