<ion-view title={{goodName}}>
  <ion-nav-buttons side="right">
    <a class="button button-clear"  style="font-size: 11px;">{{username}}</a>
    <a class="icon button button-positive ion-home"  ui-sref="homepage"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list list-borderless">
      <div class="item">
        <a class="button button-full button-positive">货物特性</a>
      </div>
    </div>
    <div class="list card">
      <div class="item">
        <a class="button button-block button-positive" ng-click="goToPropertyBasicInfo()">基本信息</a>
      </div>
      <div class="item">
        <a class="button button-block button-positive" ng-click="goToPropertyChemistry()">理化特性</a>
      </div>
      <div class="item">
        <a class="button button-block button-positive" ng-click="goToPropertyReuirement()">作业要求</a>
      </div>
    </div>
  </ion-content>

</ion-view>
