<ion-view view-title="液货船监管支持系统" hide-back-button="true">
  <!--修改密码按钮,在离线情况下，没有办法实现修改密码的功能-->
 <!-- <ion-nav-buttons side="left" >
    <a class="icon  button button-positive ion-locked" ui-sref="changePwd"></a>
  </ion-nav-buttons>-->
  <!--数据库更新按钮，以备将来数据库网络更新使用-->
  <ion-nav-buttons side="right">
    <a class="icon button button-positive ion-refresh"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list list-borderless">
      <div class="item">
        <a class="button button-block button-positive" ng-click="gotoCargo()">液货船作业检查</a>
      </div>
      <div class="item">
        <a class="button button-block button-positive" ng-click="gotoDangerousGoods()">危险货物数据库</a>
      </div>
      <div class="item">
        <a class="button button-block button-positive" ui-sref="dangergoods_emergency">应急处置支持</a>
      </div>
    </div>
  </ion-content>
 <!-- <div class="tabs tabs-icon-top tabs-positive">
    <a class="tab-item">
      <i class="icon ion-ios-search "></i>
      搜索
    </a>
    <a class="tab-item">
      <i class="icon ion-ios-person-outline"></i>
      我的
    </a>
    <a class="tab-item">
      <i class="icon ion-document"></i>
      反馈
    </a>
  </div>-->
</ion-view>
