<ion-view view-title="液货船监管支持系统">
  <ion-content class="padding">
    <div class="list list-borderless">
      <div class="item">
        <a class="button button-block button-positive" ng-click="gotoCargo()">液货船作业检查</a>
      </div>
      <div class="item">
        <a class="button button-block button-positive" ng-click="gotoDangerousGoods()">危险货物数据库</a>
      </div>
      <div class="item">
        <a class="button button-block button-positive" ui-sref="dangergoods_emergency">应急处置支持</a>
      </div>
    </div>
  </ion-content>
 <!-- <div class="tabs tabs-icon-top tabs-positive">
    <a class="tab-item">
      <i class="icon ion-ios-search "></i>
      搜索
    </a>
    <a class="tab-item">
      <i class="icon ion-ios-person-outline"></i>
      我的
    </a>
    <a class="tab-item">
      <i class="icon ion-document"></i>
      反馈
    </a>
  </div>-->
</ion-view>
