<ion-view title={{goodName}}>
<!--点击构造要求，根据该货物所属种类（基本信息中的“种类”），
若是油类，则详细信息页无内容，
若是化学品船，则进入的详细信息页显示： 船型要求（IBC）、舱型要求、液货舱透气要求、液货舱环境控制要求
若是液化气船，则进入的详细信息页显示： 船型要求（IGC）、是否要求C型独立液货舱、液货舱内蒸气空间的控制
-->
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        构造要求
      </div>
      <label class="item ">
        船型要求（IBC）
        <span class="item-note"></span>
      </label>
      <label class="item ">
        舱型要求
        <span class="item-note"></span>
      </label>
      <label class="item ">
        液货舱透气要求
        <span class="item-note"></span>
      </label>
      <label class="item ">
        液货舱环境控制要求
        <span class="item-note"></span>
      </label>
      <label class="item ">
        船型要求（IGC）
        <span class="item-note"></span>
      </label>
      <label class="item ">
        是否要求C型独立液货舱
        <span class="item-note"></span>
      </label>
      <label class="item ">
        液货舱内蒸气空间的控制
        <span class="item-note"></span>
      </label>
    </div>
  </ion-content>

</ion-view>
