<ion-view title="液货船作业检查">

  <ion-content>
    <div class="list list-borderless">
      <div class="item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="请输入项目名称" ng-model="searchContent">
        </label>
      </div>
      <div class="item">
        <a class="button button-block button-positive" ui-sref="checktable">按船岸检查表</a>
      </div>
     <!-- <div class="item">
        <a class="button button-block button-positive">按检查项目类型</a>
      </div>-->

    </div>
  </ion-content>
</ion-view>
