<ion-view title={{goodName}}>
  <ion-nav-buttons side="right">
    <a class="button button-clear"  style="font-size: 11px;">{{username}}</a>
    <a class="icon button button-positive iconfont icon-wxbzhuye"  ui-sref="homepage"></a>
  </ion-nav-buttons>
<!--
点击特殊要求，根据该货物所属种类（基本信息中的“种类”），
若是油类，则详细信息页无内容，
若是化学品船，则进入的详细信息页显示： IBC 特殊要求及操作要求
若是液化气船，则进入的详细信息页显示： IGC 特殊要求
-->
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        特殊要求
      </div>
      <label class="item" ng-if="detailInfo.basicInfo.classification=='化学品'">
        IBC 特殊要求及操作要求
        <div style="color: black;font-size: 15px" class="item-text-wrap" ng-repeat="index in detailInfo.specialRequest.Chemical.IBCspecialRequest">
          <strong>{{index.title}}</strong>
           <span class="item-note item-text-wrap" ng-bind-html="index.content"></span>
        </div>

      </label>
      <label class="item" ng-if="detailInfo.basicInfo.classification=='液化气体'">
        IGC 特殊要求
        <span class="item-note item-text-wrap" ng-bind-html="detailInfo.specialRequest.Liquidgas.IGCspecialRequest"></span>
      </label>
    </div>
  </ion-content>

</ion-view>
