/* Empty. Add your own CSS if you like */
.item-message {
  float: left;
  color: #aaa;
  font-size: 14px; }

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
/*
ion-nav-bar .account{
  font-size: 11px;
}
*/
.cargolist-button div a{
  color: #ffffff;
  background-color: #3077B9;
}
